# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

- Column names should be in lower case*

- White spaces in column names should be replaced by `_`*
"mean value".replace(" ","_") ->"mean value"

*use a for loop to apply this in every column name

- `st` could be replaced for `state`*

In [73]:
import numpy as np
import pandas as pd 

cleaning = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
print("The variable type of file1 is: ",type(cleaning))
print()
print("Those are the first five rows of your pandas DataFrame: ")
display(cleaning.head())
print()
print("This is the size of your pandas DataFrame: ",cleaning.shape)
print("In other words, your DataFrame has {} rows and {} columns".format(cleaning.shape[0], cleaning.shape[1]))

The variable type of file1 is:  <class 'pandas.core.frame.DataFrame'>

Those are the first five rows of your pandas DataFrame:

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

This is the size of your pandas DataFrame:  (4008, 11)
In other words, your DataFrame has 4008 rows and 11 columns

    Column names should be in lower case

In [76]:
"""Order to include functions:
1.-
cols = []
for colname in cleaning.columns:
    cols.append(colname.lower())

cleaning.columns = cols

display(cleaning.head())

2.- We add <cols = cleaning.columns.str.replace(' ', '_')>


3.- We add <cleaning = cleaning.rename(columns={'st':'state'})
>"""

cols = []
for colname in cleaning.columns:
    cols.append(colname.lower())

cols = cleaning.columns.str.replace(' ', '_')

cleaning.columns = cols

cleaning = cleaning.rename(columns={'st':'state'})

display(cleaning.head())

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they contain only valid data. 

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

PComments:

Gender column
- first checkout what are the possible values for this column, unique.values column Gender
- deal with every specific case
- .replace(provide a dictionary({"old_value":"new_value, "}) ---> df["gender"]=df["gender"].replace({"old_value":"new_value, "})

In [77]:
print(cleaning['gender'].unique())

[nan 'F' 'M' 'Femal' 'Male' 'female']

In [78]:
"""Cleaning gender column inconsistent values"""

cleaning = cleaning.replace({'gender' : {'Female' : 'F', 'Female' : 'F', 'Male' : 'M','female':"F"}})
print(cleaning)

     customer       state gender             education  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below
...       ...         ...    ...                   ...
4003      NaN         NaN    NaN                   NaN
4004      NaN         NaN    NaN                   NaN
4005      NaN         NaN    NaN                   NaN
4006      NaN         NaN    NaN                   NaN
4007      NaN         NaN    NaN                   NaN

     customer_lifetime_value   income  monthly_premium_auto  \
0                        NaN      0.0                1000.0
1                 697953.59%      0.0                  94.0
2                1288743.17%  48767.0                 108.0
3                 764586.18%      0.0                 106.0
4                 536307.65%  36357.0                  68.0
...                      ...      ...                   ...
4003                     NaN      NaN                   NaN
4004                     NaN      NaN                   NaN
4005                     NaN      NaN                   NaN
4006                     NaN      NaN                   NaN
4007                     NaN      NaN                   NaN

     number_of_open_complaints     policy_type  vehicle_class  \
0                       1/0/00   Personal Auto  Four-Door Car
1                       1/0/00   Personal Auto  Four-Door Car
2                       1/0/00   Personal Auto   Two-Door Car
3                       1/0/00  Corporate Auto            SUV
4                       1/0/00   Personal Auto  Four-Door Car
...                        ...             ...            ...
4003                       NaN             NaN            NaN
4004                       NaN             NaN            NaN
4005                       NaN             NaN            NaN
4006                       NaN             NaN            NaN
4007                       NaN             NaN            NaN

      total_claim_amount
0               2.704934
1            1131.464935
2             566.472247
3             529.881344
4              17.269323
...                  ...
4003                 NaN
4004                 NaN
4005                 NaN
4006                 NaN
4007                 NaN

[4008 rows x 11 columns]

In [79]:
print(cleaning['gender'].unique())

[nan 'F' 'M' 'Femal']

In [80]:
"""Cleaning state column inconsistent values"""

print(cleaning['state'].unique())

['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]

In [81]:
cleaning = cleaning.replace({'state' : {'AZ' : 'Arizona', 'WA' : 'Washington','Cali':"California"}})

In [82]:
print(cleaning['state'].unique())

['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' nan]

In [83]:
"""Cleaning education column inconsistent values"""

print(cleaning['education'].unique())

['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]

In [84]:
cleaning = cleaning.replace({'education' : {'Bachelors' : 'bachelor','bachelor':'Bachelor'}})

In [85]:
print(cleaning['education'].unique())

['Master' 'Bachelor' 'High School or Below' 'College' 'bachelor' 'Doctor'
 nan]

In [86]:
"""In Customer Lifetime Value, delete the `%` character"""

cleaning['customer_lifetime_value'] = cleaning['customer_lifetime_value'].str.replace('%', '')

print(cleaning["customer_lifetime_value"].unique())

[nan '697953.59' '1288743.17' ... '2031499.76' '323912.47' '899704.02']

In [87]:
"""In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"""
cleaning = cleaning.replace({'vehicle_class' : {'Sports Car' : 'Luxury','Luxury SUV':'Luxury','Luxury Car':'Luxury'}})

In [88]:
print(cleaning['vehicle_class'].unique())

['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury' nan]

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has a wrong format, look at the diffrent values it takes with unique() and take the middle value, for example 1/5/00 should be 5. Number of open complaints is a string, remember you can use split() to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

Split
"mean value".split() -- return a python list with every single item starring with space

"1/5/00".split() --- return same item and we need witouth "/" ----> df["1/5/00"].split("/").str --> this return -- ['1','5','00']
how can get inside the list? index [1][2][3].... dtype: string
so we need to convert it as numeric so ----> int("1/5/00".split("/"))


Also we can use it to obtain numbers that are in diff lines inside a document
"4.    5.  8.!.split()[1] ---> return: [5]

In [51]:
cleaning.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [52]:
"""Customer lifetime value should be numeric"""

cleaning["customer_lifetime_value"] = pd.to_numeric(cleaning["customer_lifetime_value"])

cleaning.dtypes["customer_lifetime_value"]

dtype('float64')

In [53]:
"""Number of open complaints has a wrong format,
take the middle value.
Finally, since it should be numeric, cast the column to be in its proper type"""

print(cleaning['number_of_open_complaints'].unique())

['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]

In [68]:
cleaning['number_of_open_complaints'].str.split('/').str[1]
cleaning['number_of_open_complaints']=pd.to_numeric(cleaning['number_of_open_complaints'].str.split('/').str[1], errors='coerce')

In [69]:
print(cleaning['number_of_open_complaints'].unique())

[ 0.  2.  1.  3.  5.  4. nan]

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values. 

After formatting data types, as a last step, convert all the numeric variables to integers using applymap.

isnull() or isna()

In [89]:
cleaning.isna().sum()

customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [ ]:
"""First I remove rows from 1073 to 4008 because are complete empty"""

In [90]:
cleaning_drop = cleaning.drop(cleaning.loc[1073:4008].index, inplace=True)

In [91]:
cleaning.isna().sum()

customer                       2
state                          2
gender                       119
education                      2
customer_lifetime_value        5
income                         2
monthly_premium_auto           2
number_of_open_complaints      2
policy_type                    2
vehicle_class                  2
total_claim_amount             2
dtype: int64

In [ ]:
After formatting data types, as a last step, convert all the numeric variables to integers using applymap.

## Exercise 5: Dealing with duplicates

Use the .duplicated() method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the drop_duplicates() function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [34]:
cleaning_drop.duplicated()

1       False
2       False
3       False
4       False
5       False
        ...
1066    False
1067    False
1068    False
1069    False
1070    False
Length: 952, dtype: bool

______________________

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting. 

Write these functions in a separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we tried to do work with that column, we wouldn't have been able to do it because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, lets get some more interesting insights!

Instructions:

- Review again the statistics for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here